@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
       
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat-Bold.ttf");

}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");

}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/Montserrat-Medium.ttf");

}
.img-fluid {margin: 0 auto;}
.block {padding: 50px 0;}
.txt {font-weight: 700; font-size: 16px; line-height:1.8; }
.bold {font-family: "Montserrat-SemiBold";  font-size: 18px; line-height: 1.8;}
.text_gradient { 
  background: -webkit-linear-gradient(left, rgba(20,213,187,1) 0%, rgba(210,255,82,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.textt {font-size: 16px; line-height: 36px;}
.button-play{font-family: Montserrat;
font-size: 14px;color: #ffffff;
font-weight: 500; text-align: center;
width: 190px; padding-top: 13px;
height: 50px;
box-shadow: 1px 1px 6px rgba(247, 84, 111, 0.69);
border-radius: 25px;
background-color: #f19e3a;
background-image: linear-gradient(88deg, #fe940d 0%, #fe694b 99%, #fe694b 100%);
}
.button-play:hover {background: linear-gradient(to right, rgba(254,90,75,1) 0%, rgba(255,175,75,1) 100%);
text-decoration: none; color: #FFF;}
.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li {
margin: 3px 25px;
width: 8px;
height: 8px;
border-radius: 4px;
background-color: #f6d3b0;}
.carousel-indicators .active  {

width: 10px;
height: 10px;
box-shadow: 1px 1px 6px rgba(247, 84, 111, 0.69);
border-radius: 5px;
background-color: #f19e3a;
background-image: linear-gradient(88deg, #fe940d 0%, #fe694b 99%, #fe694b 100%);
}



/* == =======  1 блок с менюхой=========*/

/* стили для иконки меню*/
#menuToggle {
  overflow: hidden;
  position: absolute;
  max-width: 60px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  left: 140px;
  top: 17px;
}

#menuToggle input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span{
  width: 30px;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #00FFFF;
  border-radius: 4px;
  -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  transition: all .5s cubic-bezier(.08,.81,.87,.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: #00FFFF;
  transform: rotate(45deg) translate(7px);
}
#menuToggle input:checked ~ #span2 {
  background-color: #00FFFF;
  transform: rotate(495deg) translate(1px);   
}
#menuToggle input:checked ~ #span3 {
  background-color: #00FFFF;
  transform: rotate(45deg);
  opacity: 0;
}
.header-menu {position: absolute; background: url(../img/bg-green.png) no-repeat; 
  background-size: cover; max-width: 720px; width: 100%; padding-left: 150px;}
.navbar-light .navbar-nav .nav-link {color: #fff;}
.nav-green {
  min-height: 438px;
}
.block_green {background-image: url(../img/header1.png); padding-bottom: 50px;
background-size: cover; background-repeat: no-repeat; 
-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  }
.block_green2 {padding-bottom: 50px;
  background-image: url(../img/header2.png);
background-size: cover; background-repeat: no-repeat; 
}

h1 {margin-top: 17px;}

.but1 {position: absolute;top:240px; left: 20px; }
.img-product{max-width: 380px; width: 100%;}
.product-after:after {
  content: url(../img/no-recept.png);
    position: absolute;
   ;
}
.brand-white {font-size: 40px;}
.ul-head {font-size: 18px; }
.ul-head li {color: #00FFFF;
  margin-bottom: 30px; margin-left: 12px; line-height: 32px;
}
.ul-blue {color: rgb(71, 71, 71); }
/*стили для анимации моб. шапки*/
.kartinki {
  max-width: 350px; width: 100%; max-height: 350px; height: 100%; position: relative;
}
.bad, .good {position: absolute; height: 100%; width: 100%;}
.bad{background: url(../img/people-bad.png)no-repeat center;
      background-size: contain;
    animation:fade 11s infinite;
-webkit-animation:fade 11s infinite;}
.good {background: url(../img/people-good.png)no-repeat center;
      background-size: contain;
    animation:fade2 11s infinite;
-webkit-animation:fade2 11s infinite;}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}

/* == =======  2 блок с Мясоедовым =========*/

.note  {background-image: url(../img/1.png); background-repeat: no-repeat;padding-left: 40px;
   background-size: contain;}
.but2 {position: absolute;    bottom: 107px;
    left: 247px;}
.myasoed {position: absolute;top: 40px;
    left: 155px;
    font-size: 10px;
    color: white;
    line-height: 18px;}

/* == =======  3 где пацан на стрессе =========*/
.bg-2 {background-image: url(../img/bg2.png); background-size: cover; background-repeat: no-repeat;} 

.komu-txt {
margin-top: 12px;
    text-align: center;
color: #3c3c3c;
font-family: Montserrat;
font-size: 15px;
font-weight: 500;text-transform:uppercase;
line-height: 26px;}
.boroda-sm {max-width: 762px; width: 100%;}
.komu-sm {background: #fff; border-radius: 25px;}
.komu-txt-sm {
  margin-top: 12px;

color: #3c3c3c;
font-family: Montserrat;
font-size: 19px;
font-weight: 700;text-transform:uppercase;
line-height: 26px;}

.komu-selank {
max-width: 329px; width: 100%; margin-bottom: 120px;
height: 69px; position: absolute;
border-radius: 35px;
background-color: #ffffff;}
.komu1 {left: 130px;top: 40px;z-index: 5;}
.komu2{left: 55px;top: 200px;z-index: 5;}
.komu3 {left: 155px;top: 390px;z-index: 5;}
.komu4{right:120px;top: 40px;}
.komu5{right:55px;top: 200px;}
.komu6 {right:110px;top: 390px;}

/* == =======  4 Создан для тех, 
кто хочет получать супер-результаты в жизни =========*/

.but3 {position: absolute; bottom: 34px; right: 24px;}
.txt_where {position: absolute; bottom: 70px; right: 30px;font-family: "Montserrat-SemiBold";
font-size: 24px;}
.where:before {
  content: url(../img/russia.png);
    position: absolute;
    left: 325px;
    bottom: 65px;
}
.button-where { max-width: 270px; width: 100%;color: #474747;
font-family: Montserrat;border-radius: 25px;height: 50px;
font-size: 14px; text-align: center; padding-top: 10px;
font-weight: 500;box-shadow: 1px 1px 6px rgba(247, 84, 111, 0.69);
border: 2px solid #fe6c47;
}
.button-where:hover { color: #fff;
background-color: #f19e3a;
background-image: linear-gradient(-92deg, #fe940d 0%, #fe694b 99%, #fe694b 100%);
}
.img-super {max-width: 115px;}


/* == =======  5 естественная помощь при стрессе =========*/
.bg-3 {background-image: url(../img/bg3.png); background-size: cover; 
  background-repeat: no-repeat; min-height: 600px; padding-top: 140px;}
.but4 {position: absolute; top:195px; left: 155px;}
.img-vid {max-width: 500px; width: 100%;}

/* == =======  6 эффективность доказана клин.исследованиями =========*/
.statistic {border-left: solid 5px #00FFFF; max-height: 185px; margin-bottom: 38px;}
.statistic .text_gradient {font-size: 38px;}
.slider1 {width: 100%;}
.slider1 {margin-bottom: 65px;}
.slider1 .carousel-control-next {
      position: absolute;opacity: 1;
    left: 455px;
    top: 335px;
}
.slider1 .carousel-control-prev {
  position: absolute;opacity: 1;
    left: 405px;
    top: 336px;
}
.slider1 .carousel-control-prev:hover {opacity: 0.5;}
.slider1 .carousel-control-next:hover {opacity: 0.5;}
/* == =======  7 схема приема =========*/
.bg-4 {background-image: url(../img/bg4.png); background-size: cover; 
  background-repeat: no-repeat; min-height: 605px; padding-top: 140px;margin-top: -30px; }
.shema {max-width: 900px; margin: 0 auto;}
.img-priem {max-width: 80px;}
/* == =======  8 ближайшая аптека =========*/
.bg-5 {background: url(../img/bg5.png) no-repeat; background-size: cover; min-height: 600px;}
.apteki {margin-bottom: 20px;}
.img-apteki {max-width: 92px;}
.button_transp {
  border-radius: 15px;
    color: rgba(254,90,75,1);
    padding: 5px 25px;
    position: relative;
    z-index: 20;
    border-image: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(254,90,75,1) 100%);
    border: solid 1px;
}
.button_transp:hover {
  background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(254,90,75,1) 100%);
  color: #fff;
}
.button_transp:active {
  background: rgba(254,90,75,1); color: #fff;
}
.links {  color: #FA8072}
.links:hover {text-decoration: underline;
}
.slider1_ie {display: none;}
/* == =======  9 отзывы врачей =========*/

.akulov {    position: absolute;
    top: 311px; text-align: center;
    left: 362px;
    font-size: 16px;
    color: white;
    line-height: 25px;}
.img-akulov {max-width: 600px; width: 100%; display: block;}
.but5 {position: absolute; right: 233px; top: 230px;}
.slider2 {width: 100%;}
.slider2 .carousel-control-next { opacity: 1;
      position: absolute; right: -110px;
}
.slider2 .carousel-control-prev {
  position: absolute; opacity: 1;
    left: -75px;
}
.slider2 .carousel-control-prev:hover {opacity: 0.5;}
.slider2 .carousel-control-next:hover {opacity: 0.5;}
/* == =======  10 футер =========*/

.transition {font-size: 10px;
    background: url(../img/link.png) top left no-repeat;
    padding-left: 23px;
    height: 20px;
    margin-bottom: 0px;
}
.footer-menu {margin-bottom: 85px;
width: 217px;
height: 253px;
color: #fe8b1a;
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 48px;
text-transform: uppercase;}
.brand {    font-size: 35px;
    font-weight: 700;}
.footer {background: url(../img/bg6.png) no-repeat; background-size: cover;
padding-top: 140px; min-height: 600px;}
.link-footer {font-size: 14px;}

.logo-footer {font-size: 10px;}

.text-poll {font-family: "Montserrat Medium";
font-weight: 500;
line-height: 30px;}


 /* ====стили для шариков=====  */

.paral {position: absolute;}
.circle_1 {top: -14px; left: 47px;}
.circle_2 {top: 186px; left: 13px;}
.circle_3 {top: 267px; left: 47px;}
.circle_4 {top: 66px; left: 20px;}
.circle_5 {top: 279px; left: 220px;}
.circle_6 {top: 300px; left: 249px;}
.circle_7 {top: -40px; left: 18px;}
.circle_8 {top: 38px; left: -13px;}
.circle_9 {top: 110px; left: -17px;}
.circle_10 {top: 91px; left: 277px;}
.circle_11 {top: 276px; left: 54px;}
.circle_12 {top: 262px; left: 84px;}
.circle_13{top: 106px; left: 445px;}
.circle_14{ left: 380px;}
.circle_15{top: 358px; left: 270px;}
.circle_16{ left: 533px;}
.circle_17{top: 10px; left: 500px;}
.circle_18{right: 428px;}
.circle_19{top: 50px;right: 640px;}
.circle_23{top: 389px;left: -117px;}
.circle_20{top: -15px;right: -25px;}
.circle_21{top: 90px;right: -97px;}
.circle_22{top: 168px;left: -22px;}
.circle_24{top: -79px;left: -55px;}
.circle_25{top: 100px;right: -38px;}
.circle_26{top: 321px;}
.circle_27{top: -40px;left: 421px;}
.circle_28{top: 100px;right: -88px;}
.circle_29{top: 400px; left: 342px;}
.circle_30{bottom: 183px;right: -21px;}
.circle_31{top: 389px;right: 25px;}
.circle_32{top: -15px;right: -25px;}
.circle_33{top: 90px;right: -97px;}
.circle_34{top: 168px;left: -22px;}
.circle_35{top: -79px;left: -55px;}
.circle_36{top: -62px;left: 726px;}
.circle_37{top: 186px; right: 360px}
.circle_38{top: 277px;left: 500px;}
.circle_39{top: 90px;right: 376px;}
.circle_40{top: 216px; right: 25px;}
.circle_41{top: 400px; left: 342px;}


/*===== MEDIA ===*/

@media only screen and (max-width: 1199px) {
  .header-menu {padding-left: 80px;}
  #menuToggle {left: 67px;}
  .circle_16 {
    left: 420px;
}
.circle_17 {
    top: -52px;
    left: 362px;
}
.myasoed {
    top: 23px;
    left: 131px;}
    .akulov {
    top: 258px;
    left: 294px;}
.circle_38 {
    left: 386px;}    
.circle_13 {display: none;}
.komu1 {left: 97px;}
.komu3 {top: 346px;}
.komu6 {top: 349px;}
.komu-txt {font-size: 13px;line-height: 22px;}
.komu4 {right: 98px;}    
.statistic .textt {line-height: 28px;}
.statistic {max-height: 210px;}
.slider1 .carousel-control-prev {left: 338px;
    top: 300px;}
 .slider1 .carousel-control-next   {left: 394px;
    top: 299px;}

}


@media only screen and (max-width: 1048px) {
.header-menu {padding-left: 0px;}
#menuToggle {left: 0px;}

.myasoed {top: 28px; left: 124px; font-size: 10px; line-height: 15px;} 
.but2 {bottom: 242px;left: 222px;}
.slider1 .carousel-control-next {left: 331px; top: 245px;}
.slider1 .carousel-control-prev {left: 274px; top: 246px;}
.circle_17, .circle_38, .circle_16 {display: none;}
.akulov {left: 290px;}

}
@media only screen and (max-width: 992px) {
  .block_green {display: none;}
  .header-menu {position: relative;margin-bottom: 30px;}
  .but2 {bottom: 167px;left: 338px;}
  .myasoed {top: 63px;left: 214px;font-size: 15px;line-height: 22px;}
  .komu {display: none;}
  .img-vid {display: block;}
  .slider1 .carousel-control-prev {
        left: 488px;
    top: 385px;
}
.slider1 .carousel-control-next {
    left: 542px;
    top: 384px;
}
  .but4{left: 240px;}
  .bg-4 {padding-top: 95px;}
  .button_transp {
    display: block; margin-bottom: 15px; text-align: center;
  }
  .slider2 .carousel-control-next {
    right: 0px;}
  .slider2 .carousel-control-prev {
    left: 0px;}
  .but5 {right: 304px;top: 245px;}
  .akulov {left: 467px;top: 342px;font-size: 15px;}
  .circle_14, .circle_13, .circle_27, .circle_36, .circle_33, .circle_17, 
  .circle_18, .circle_21, .circle_28 {display: none;}
  .circle_29 {top: 400px;left: 289px;}

}
@media only screen and (max-width: 920px) {

}
@media only screen and (max-width: 768px) {
  .boroda {display: none;}
  h2 {text-align: center;}

  .myasoed {
    top: 44px;
    left: 217px;
    font-size: 13px;
    line-height: 19px;}
.but2 {bottom: 135px; left: 289px;}
.slider1 .carousel-control-prev {left: 385px;top: 330px;}
.slider1 .carousel-control-next {left: 440px;top: 329px;}
.statistic {max-height: 185px;}
.but4 {left: 184px;}
   .akulov {left: 360px;
    top: 300px;
    font-size: 15px;}

.but5 {right: 218px;
    top: 211px;}
.button_transp {display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;}




}
@media only screen and (max-width: 680px) {
  .myasoed {
    top: 54px;
    left: 177px;
    font-size: 11px;
  }
  .but2 {left: 293px; bottom: 135px;}
  .slider1 .carousel-control-next {left: 443px; top: 331px;}
  .slider1 .carousel-control-prev {left: 399px; top: 332px;}
  .statistic {max-height: 240px;}
  
  .apteki p {text-align: center;}
  .circle_16,.circle_27,.circle_28,.circle_21,.circle_25,.circle_38{
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  h2 {font-size: 23px;}
  .but2 {left: 194px; bottom: 72px;}
  .myasoed {top: 36px;left: 146px;}
  .img-akulov { max-width: 300px;}
  .akulov {left: 249px;top: 164px;}
  .but4 {top: 137px;left: 120px;}
  .but5 {right: 150px;top: 88px;}
  .statistic .text_gradient {font-size: 30px;}
  .circle_29, .circle_30, .circle_32,.circle_20 {display: none;}
  .slider1 .carousel-control-next {left: 313px; top: 267px;}
  .slider1 .carousel-control-prev {left: 267px; top: 267px;}
  .where:before {left: 157px;}

  }
  @media only screen and (max-width: 380px) {
    .textt {line-height: 27px;}
    h1 {font-size: 39px;}
    .myasoed {
    top: 24px;
    left: 112px;
    font-size: 9px;
    line-height: 15px;
}
.but2 {
    left: 122px;
    bottom: 0px;
}
    .note {padding-left: 35px;}
   
    .but2 {left: 158px; bottom: 54px;}
    .boroda-sm {max-height: 325px;}
    .but3 {bottom: 28px;right: 58px;}
    .txt_where { bottom: 45px; right: 73px;}
.img-product {margin-bottom: 130px;}
.but3 {bottom: 13px;}
.where:before {left: 106px;}
.slider1 .carousel-control-prev {
    left: 215px;
    top: 250px;
}
.slider1 .carousel-control-next {
    left: 258px;
    top: 249px;
}
.slider2 .carousel-control-prev {
    left: 5px;
}
.akulov {
    left: 233px;
    top: 163px;
    font-size: 10px;
    font-weight: 700;
}


  }
 @media only screen and (max-width: 320px){
  .but2 {
    left: 137px;
    bottom: 21px;
}
.but4 {left: 73px;}
.but5 {right: 112px;}


 }

